<%= form_with(model: route) do |form| %>
  <% if route.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Útvonal neve", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Útvonal neve..." %>
  </div>

  <div class="row">
    <div class="mb-3 col">
      <%= form.label :distance, "Hossz (km)", class: "form-label" %>
      <%= form.number_field :distance, step: :any, class: "form-control", placeholder: "Útvonal hossza..." %>
    </div>
    <div class="mb-3 col">
      <div>
        <%= form.label :elevation, "Szintemelkedés (m)", class: "form-label" %>
        <%= form.number_field :elevation, class: "form-control", placeholder: "Szintemelkedés..." %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :link, "Link (pl. Strava, Futótérkép.hu, stb...)", class: "form-label" %>
    <%= form.text_field :link, class: "form-control", placeholder: "Link..." %>
  </div>
  <div class="flex">
    <div class="flex2">
      <%= form.submit "Mentés", class: "btn btn-success mybtn" %>
      <%= link_to "Mégse", root_path, class: "btn btn-secondary" %>
    </div>
    <% if edit %>
      <div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Törlés</button>
      </div>
    <% end %>
  </div>
<% end %>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Útvonal törlése - <%= route.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                Biztosan törlöd a(z) <%= route.name %> útvonalat? Ezzel a hozzá tartozó teljesítések is törlődnek.
                    Ezt később nem tudod visszavonni!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                <button id="deleteSubmit" class="btn btn-danger" onclick="deleteRoute()">Törlés</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
function deleteRoute() {
    const csrfToken = document.querySelector("[name='csrf-token']").content
    fetch(`/routes/<%= route.id %>`, {
        method: 'DELETE',
        headers: {
        'X-CSRF-Token': csrfToken,
        'Content-Type': 'application/json'
        }
    })
    .then(() => {
      window.location.href = '/'
    })
}
</script>
